@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Cute+Font&family=Fontdiner+Swanky&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --font-family: "Press Start 2P", serif;
    --background-color: rgb(28, 29, 34);
    --board-color: rgb(47, 50, 58);
    --board-size: 50vh;
    --field-shadow: rgb(40, 40, 40);
    --player-one-font-color: rgb(139, 166, 100);
    --player-two-font-color: rgb(62, 105, 144);
    --game-actions-button-color: rgb(125, 132, 145);
    --game-actions-font-color: rgb(234, 240, 206);
}

* {
    font-family: var(--font-family);
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
}

/* Game Board */
.content {
    height: 80%;
    gap: 120px;
}

#game-board {
    aspect-ratio: 1 / 1;
    width: var(--board-size);
    min-width: 350px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

.board-field {
    background-color: var(--board-color);
    border-radius: 20px;
    box-shadow: 0 5px 5px var(--field-shadow);
}
.board-field:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 150ms;
}
.board-field:active {
    transform: scale(0.8);
    transition-duration: 100ms;
}


/* Player Scores */
.player-scores {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.player-one-score, .player-two-score {
    text-align: center;
    width: fit-content;
}

.player-one-score {
    color: var(--player-one-font-color);
}

.player-two-score {
    color: var(--player-two-font-color);
}

.player-one-score.winRound, .player-two-score.winRound {
    text-shadow: 0 0 50px;
    transition-duration: 200ms;
}

/* Game Actions */
.gameActions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.gameActions > button {
    color: var(--game-actions-font-color);
    background-color: var(--game-actions-button-color);
    width: 10rem;
    padding: 1rem 2rem;
    border-radius: 20px;
    border: none;
    box-shadow: 0 5px 10px var(--board-color);
}
.gameActions > button:hover {
    transform: scale(1.1);
    transition-duration: 200ms;
}

.gameActions > button:last-child {
    display: none;
}
.gameActions > button:last-child.active {
    display: block;
}

/* Modal */
.modal {
    display: block;
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    opacity: 0.95;
    align-content: center;
}

.modal-content {
    margin: auto;
    width: 30vw;
    height: 50vh;
    min-width: 420px;
    min-height: 420px;
    background-color: var(--field-shadow);
    align-content: center;
    border-radius: 40px;
}
.modal-content > * {
    color: white;
    width: fit-content;
    margin: auto;
    align-content: center;
}
.modal-content > form > * {
    display: flex;
    margin: 3rem 0;
    justify-content: center;
}
.modal-content > form > div > input {
    color: white;
    padding: 0 2rem;
    border-radius: 20px;
    background-color: rgb(0,0,0,0);
}
.modal-content > form button:last-child {
    border: none;
    background-color: rgb(0,0,0,0);
    color: white;
    margin: auto;
}

.modal-content > form button:last-child:hover {
    transform: scale(1.2);
    transition-duration: 200ms;
    cursor: pointer;
    color: var(--game-actions-button-color);
}